<section class="hero">
  <div class="hero-body">
    <h1 class="title"><%= t('label.contacts') %></h1>
  </div>
</section>

<section class="section">
  <%= render 'fragments/content', { content: @content } %>
</section>